@import '../../styles/color.scss';
@import '../../styles/font.scss';
@import '../../styles/spacing.scss';

.container {
  width: 100vw;
}

.board {
  width: 100vw;
  padding: 0 10%;
  background-color: $dtd-main-bg-color;
}

.board_title {
  width: 100vw;
  font-size: $dtd-h1-size;
  font-weight: bold;
  text-align: center;
  padding: $dtd-secondary-spacing 0;
}
