@import '../../styles/media.scss';
@import '../../styles/spacing.scss';
@import '../../styles/color.scss';
@import '../../styles/font.scss';
@import '../../styles/pageMargin.scss';

.container {
  min-height: 100vh;
  width: 100vw;
  background-color: $dtd-main-bg-color;
  color: $dtd-text-color;
}

//teamsContainer
.teamsContainer {
  margin: 0 $dtd-margin-desktop;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: $dtd-media-tablet) {
  .teamsContainer {
    margin: 0 $dtd-margin-tablet;
  }
}
@media (max-width: $dtd-media-phone) {
  .teamsContainer {
    margin: 0 $dtd-margin-phone;
  }
}
@media (max-width: $dtd-media-phone-small) {
  .teamsContainer {
    margin: 0 $dtd-margin-phone-small;
  }
}

.teamsContainer_content {
  width: 100%;
  text-align: justify;
  color: $dtd-submenu-text-color;
  margin-top: $dtd-main-spcing;
}
.teamsContainer_link {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: -32px;
  margin-top: 16px;
  & a {
    background-color: #85b6dd;
    color: #fff;
    width: 112px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 14px;
    z-index: 10;
  }
  & a:hover {
    background-color: $dtd-main-color;
  }
  & a:active {
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}
//隔出與footer的間距
.teamsContainer_bottomSpace {
  height: $dtd-index-main-spacing;
}
