@import '../../styles/media.scss';
@import '../../styles/spacing.scss';
@import '../../styles/color.scss';
@import '../../styles/font.scss';
@import 'bootstrap/dist/css/bootstrap.min.css';

.activitiesBox_img {
  width: 100%;
  height: 250px;
}
.activitiesBox {
  margin-bottom: $dtd-secondary-spacing;
  &:hover .activitiesBox_img {
    opacity: 0.6;
    transition: ease-in-out 0.3s;
  }
}
.activitiesBox_img__size {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px 5px 0 0;
}
.activitiesBoxBottom {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  background: #fff;
  border-radius: 0 0 5px 5px;
}
.activitiesBoxBottom_more {
  color: #85b6dd;
  &:hover {
    color: $dtd-main-color;
  }
}

@media (max-width: $dtd-media-phone-small) {
  .activitiesBox_img {
    height: 200px;
  }
}
