@import '../../styles/media.scss';
@import '../../styles/spacing.scss';
@import '../../styles/color.scss';
@import '../../styles/font.scss';

.container {
  width: 100%;
  color: $dtd-text-color;
  margin-bottom: $dtd-index-main-spacing;
}
