@import '../../styles/media.scss';
@import '../../styles/spacing.scss';
@import '../../styles/color.scss';
@import '../../styles/font.scss';

.container {
  width: 100%;
  background-color: $dtd-main-bg-color;
  color: $dtd-text-color;
}
.admissionGroupName {
  width: 100%;
  height: 54px;
  border-radius: 5px;
  background-color: $dtd-secondary-color;
  display: flex;
  align-items: center;
  padding-left: $dtd-secondary-spacing;
  font-size: $dtd-h2-size;
}

.admission_content_p {
  font-size: $dtd-p-size;
}
.admission_content_enter {
  white-space: pre-line;
}

.info_bar {
  font-size: $dtd-p-size;
  margin-top: $dtd-section-spacing;
  margin-bottom: $dtd-section-spacing;
  padding: 0 $dtd-secondary-spacing;
}
.info_contentBox {
  display: flex;
  width: 100%;
}
.info_department {
  text-align: center;
  width: 206px;
}
.info_img {
  height: 160px;
  width: 160px;
}
.info_departmentName {
  font-size: $dtd-h2-size;
  margin-top: $dtd-secondary-spacing;
}
.info_insideBox {
  width: calc(100% - 304px);
  margin-left: 113px;
  margin-bottom: -$dtd-p-size;
}
.info_rowBox {
  width: 100%;
  display: flex;
  margin-bottom: $dtd-p-size;
}
.info_contentTitle {
  width: 112px;
}
.info_contentData {
  width: calc(100% - 112px);
  padding-left: 6.1%;
}
.info_documentURL {
  color: $dtd-main-color;
  &:hover {
    color: $dtd-main-color;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px $dtd-main-color solid;
  }
}

.regulations_bar {
  font-size: $dtd-p-size;
  margin-top: $dtd-section-spacing;
  margin-bottom: $dtd-section-spacing;
  padding: 0 $dtd-secondary-spacing;
}

.regulations_box {
  display: flex;
  margin-right: -168px;
}
.regulations_contentBox {
  margin-right: 144px;
}
.regulations_title_bold {
  font-weight: bold;
}
.regulations_content_marginLeft {
  margin-left: 24px;
}
.regulations_contentRow_marginBottom {
  margin-bottom: $dtd-p-size;
}

.regulations_documentBox {
  margin-right: 168px;
}
.regulations_document {
  display: flex;
  color: $dtd-text-color;
  &:hover {
    color: $dtd-main-color;
    text-decoration: none;
  }
}
.regulations_documentIcon_marginTop {
  margin-top: 2.5px;
}
.regulations_documentName_marginLeft {
  margin-left: 8px;
}

.classMap_bar {
  font-size: $dtd-p-size;
  margin-top: $dtd-section-spacing;
  margin-bottom: $dtd-section-spacing;
  padding: 0 $dtd-secondary-spacing;
}
.classMap_img {
  width: 100%;
}

.titleLine {
  width: 100%;
  height: 1px;
  background-color: $dtd-hint-text-color;
  margin: 32px 0;
}

@media (max-width: $dtd-media-tablet) {
  .info_insideBox {
    width: calc(92.2% - 206px);
    margin-left: 7.8%;
  }
  .info_contentData {
    padding-left: 8.3%;
  }

  .regulations_box {
    display: flex;
    margin-right: 0;
    justify-content: space-between;
  }
  .regulations_contentBox {
    margin-right: $dtd-staff-rwd-spacing;
  }
  .regulations_documentBox {
    margin-right: 0;
  }

  .classMap_bar {
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  .info_bar {
    padding: 0 $dtd-secondary-spacing;
  }
  .info_contentBox {
    display: block;
    width: 100%;
  }
  .info_department {
    width: 100%;
    margin-bottom: $dtd-main-spcing;
  }
  .info_insideBox {
    width: 100%;
    margin: 0;
  }
  .info_contentData {
    padding-left: 7%;
  }

  .regulations_box {
    display: block;
    margin-right: 0;
  }
  .regulations_contentBox {
    margin-right: 0;
    margin-bottom: $dtd-secondary-spacing;
  }
  .regulations_documentBox {
    margin-right: 0;
    margin-bottom: $dtd-secondary-spacing;
  }
}

@media (max-width: $dtd-media-phone) {
  .info_bar {
    padding: 0 16px;
  }
}

@media (max-width: 320px) {
  .info_insideBox_marginBottom {
    margin-bottom: 0;
  }
  .info_rowBox {
    display: block;
    width: 100%;
    margin-bottom: $dtd-secondary-spacing;
  }
  .info_contentTitle {
    width: 100%;
    margin-right: 0;
    margin-bottom: $dtd-p-size;
  }
  .info_contentData {
    width: 100%;
  }

  .regulations_bar {
    padding: 0 8px;
  }
}
