@import '../../styles/media.scss';
@import '../../styles/spacing.scss';
@import '../../styles/color.scss';
@import '../../styles/font.scss';
.container {
  width: 100vw;
  min-height: 100vh;
  background-color: $dtd-main-bg-color;
  color: $dtd-text-color;
}
.teachdetail {
  margin: 0 10% $dtd-secondary-spacing;
  padding-top: $dtd-main-spcing;
  padding-bottom: $dtd-main-spcing;
}
.teachdetail_titlebar {
  align-items: center;
  height: 65px;
}
.teachdetail_titlebar__backbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 $dtd-secondary-spacing;
  & img {
    width: 30px;
    height: 30px;
  }
}
.teachdetail_titlebar__name {
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: $dtd-secondary-spacing;
  font-size: $dtd-h1-size;
}
.teachdetail_contentbar {
  margin-top: $dtd-section-spacing;
}
.teachdetail_contentbar__img {
  border: 8px solid #f8f8f8;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 240px;
  width: 100%;
  background-color: #fff;
  align-items: center;
  & img {
    width: 210px;
    height: auto;
  }
}
.teachdetail_contentbar__content {
  height: 100%;
}
.contactbar {
  margin-top: 20px;
  margin-bottom: 20px;
}
.contactbar_contactbox {
  display: flex;
  align-items: center;
  height: 30px;
  & img {
    margin-right: 8px;
    width: 16px;
    height: 16px;
  }
}
.contactbar_contactbox__hint {
  color: $dtd-main-color;
}
.contactline {
  height: 1px;
  background-color: $dtd-main-color;
}
.contactdetail {
  margin-top: 20px;
  font-size: $dtd-p-size;
  & div {
    margin: 10px 0;
  }
}
.contactdetail,
.contactbar_contactbox {
  & a {
    color: $dtd-main-color;
    &:hover {
      color: $dtd-main-color;
      text-decoration: none;
      box-shadow: 0 1px $dtd-main-color;
    }
  }
}
