@import '../../styles/color.scss';
@import '../../styles/font.scss';
@import '../../styles/spacing.scss';
@import '../../styles/media.scss';

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: $dtd-secondary-spacing;
  padding-bottom: $dtd-section-spacing;
}
.sorttitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $dtd-text-color;
  background-color: $dtd-main-bg-color;
  padding: 0 16px 8px 16px;
  margin-bottom: 16px;
  cursor: default;
  &:hover {
    border-bottom: solid 2px #85b6dd;
    margin-bottom: 14px;
  }
}
.sorttitle_selected {
  background-color: $dtd-main-bg-color;
  border-bottom: solid 2px $dtd-main-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $dtd-text-color;
  padding: 0 16px 8px 16px;
  margin-bottom: 14px;
  cursor: default;
}
