@import '../../styles/color.scss';
@import '../../styles/font.scss';
@import '../../styles/spacing.scss';
@import '../../styles/media.scss';

button {
  background-color: $dtd-main-bg-color;
  border: 0;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // align-items: center;
  padding-top: $dtd-secondary-spacing;
  padding-bottom: $dtd-main-spcing;
}
.sorttitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $dtd-text-color;
  // width: 64px;
  padding: 0 16px 8px 16px;
  // padding-bottom: 8px;
  &:hover {
    box-shadow: 0 2px #85b6dd;
  }
}
.sorttitle_selected {
  box-shadow: 0 2px $dtd-main-color;
}
