@import '../../styles/media.scss';
@import '../../styles/spacing.scss';
@import '../../styles/color.scss';
@import '../../styles/font.scss';

.container {
  // min-height: 100vh;
  width: 100vw;
  background-color: $dtd-main-bg-color;
}
//downloadContainer
.downloadContainer {
  margin: 0 10vw $dtd-secondary-spacing;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: $dtd-media-desktop) {
  .downloadContainer {
    margin: 0 4.8vw $dtd-secondary-spacing;
  }
}
@media (max-width: $dtd-media-phone) {
  .downloadContainer {
    margin: 0 6.9vw $dtd-secondary-spacing;
  }
}
<<<<<<< HEAD
@media (max-width: $dtd-media-phone-small) {
=======
@media (max-width: 320px) {
>>>>>>> b4accca08c635a16cf42a2cc8aad7c2f5f45da22
  .downloadContainer {
    margin: 0 6.25vw $dtd-secondary-spacing;
  }
}
