@import '../../styles/media.scss';
@import '../../styles/color.scss';
@import '../../styles/font.scss';
@import '../../styles/spacing.scss';

.container {
  width: 100vw;
}

.board {
  width: 100vw;
  padding: 0 10vw;
  background-color: $dtd-main-bg-color;
}

.intro_content_p {
  font-size: $dtd-p-size;
}
.pageTitle__marginTop {
  margin-top: 0;
}
.contentBox__marginTop {
  margin-top: $dtd-secondary-spacing;
}

.introBox__flex {
  display: flex;
}
.introBox_img {
  width: 150;
}
.introBox_video {
  width: 45%;
  margin-right: 5%;
}
.introBox_textContent {
  width: 50%;
}

.ideasBox__flex {
  display: flex;
  text-align: center;
  margin-right: -2%;
}
.ideaBox {
  width: 22%;
  margin-right: 3%;
}
.ideaBox_title {
  font-size: $dtd-h2-size;
  margin: 24px 0 16px 0;
}

.classBox {
  position: relative;
  width: 100%;
  height: 398px;
  margin-bottom: 80px;
}
.classBox_carousel_img {
  width: 100%;
  height: 398px;
  object-fit: cover;
}
.classBox_carouselChevron {
  & a {
    background-color: $dtd-text-color;
    opacity: 0.6;
    width: 64px;
  }
}
.classBoxInfo {
  position: absolute;
  bottom: 0;
  left: calc(50% - 206px);
  width: 412px;
  background-color: $dtd-text-color;
  opacity: 0.9;
  color: white;
  padding: 16px $dtd-secondary-spacing 0 $dtd-secondary-spacing;
}
.classBoxInfo_name {
  font-size: $dtd-h2-size;
  text-align: center;
  margin-bottom: 24px;
}
.classBoxInfo_row {
  display: flex;
  margin-bottom: 16px;
}
.classBoxInfo__p {
  font-size: $dtd-hint-size;
}
.classBoxInfo_title {
  width: 30%;
}
.classBoxInfo_content {
  width: 70%;
}

.classBoxPhone {
  display: none;
}

@media (max-width: $dtd-media-tablet) {
  .board {
    padding: 0 4.8vw;
  }

  .pageTitle__marginTop {
    margin-top: -$dtd-secondary-spacing;
  }
  .contentBox__marginTop {
    margin-top: 0;
  }

  .introBox__flex {
    display: block;
  }
  .introBox_video {
    width: 79.6%;
    background-color: $dtd-main-color;
    margin: 0 10.2% 24px 10.2%;
  }
  .introBox_textContent {
    width: 100%;
  }

  .ideasBox__flex {
    margin-right: -4%;
    margin-bottom: -$dtd-secondary-spacing;
    flex-wrap: wrap;
  }
  .ideaBox {
    width: 46%;
    margin-right: 4%;
    margin-bottom: $dtd-secondary-spacing;
  }

  .classBox {
    height: 310px;
  }
  .classBox_carousel_img {
    height: 310px;
  }
  .classBox_carouselChevron {
    & a {
      width: 50px;
    }
  }
}

@media (max-width: $dtd-media-phone) {
  .board {
    padding: 0 7vw;
  }
  .introBox_video {
    width: 100%;
    background-color: $dtd-main-color;
    margin: 0 0 24px 0;
  }
  .ideasBox__flex {
    margin-right: 0;
    flex-wrap: wrap;
  }
  .ideaBox {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .classBox {
    display: none;
  }
  .classBoxPhone {
    width: 100%;
    display: block;
    margin-bottom: $dtd-section-spacing;
  }
}

.classBoxPhone_img {
  width: 100%;
  height: 256px;
  object-fit: cover;
}
.classBoxPhoneInfo {
  width: 100%;
  background-color: $dtd-text-color;
  opacity: 0.9;
  color: white;
  padding: 16px 24px 4px 24px;
  margin-bottom: $dtd-secondary-spacing;
}
.classBoxPhoneInfo_name {
  font-size: $dtd-h2-size;
  text-align: center;
  margin-bottom: 20px;
}
.classBoxPhoneInfo_row {
  display: flex;
  margin-bottom: 12px;
}
.classBoxPhoneInfo_title {
  width: 86px;
}
.classBoxPhoneInfo_content {
  width: calc(100% - 86px);
}
