@import '../../styles/media.scss';
@import '../../styles/pageMargin.scss';
@import '../../styles/spacing.scss';
@import '../../styles/font.scss';
@import '../../styles/color.scss';

.container {
  width: 100vw;
  padding: 0 $dtd-margin-desktop;
  background-color: $dtd-main-bg-color;
}

.intro_block__marginTop {
  margin-top: $dtd-secondary-spacing;
}
.intro_aboutBlock {
  display: flex;
  white-space: pre-line;
}

.aboutBlock_video {
  width: 45%;
  margin-right: 5%;
}
.aboutBlock_content {
  width: 50%;
  font-size: $dtd-p-size;
  line-height: 150%;
}
.aboutBlock_experienceShare {
  display: flex;
  color: $dtd-main-color;
  margin-bottom: 4px;
  
  &:hover {
    color: $dtd-main-color;
    margin-bottom: 0;
    
    .experienceShare_icon {
      padding-bottom: 3px;
      border-bottom: 1px $dtd-main-color solid;
    }
    .experienceShare_content {
      text-decoration: none;
      padding-bottom: 3px;
      border-bottom: 1px $dtd-main-color solid;
    }
  }
}

.experienceShare_icon {
  padding-right: 8px;
}
.experienceShare_content {
  font-weight: bold;
}

.intro_conceptBlock {
  display: flex;
  text-align: center;
  margin-right: -3%;
}

.conceptBlock_conceptBox {
  width: 22%;
  margin-right: 3%;
}
.conceptBox_title {
  font-size: $dtd-h2-size;
  margin: 24px 0 16px 0;
}
.conceptBox_content {
  font-size: $dtd-p-size;
}

.intro_classroomInfo__fontSize {
  font-size: $dtd-hint-size;
}
.intro_classroomCarousel {
  position: relative;
  width: 100%;
  height: 398px;
  margin-bottom: 80px;
}

.classroomCarousel_chevron {
  & a {
    background-color: $dtd-text-color;
    opacity: 0.6;
    width: 64px;
  }
}
.classroomCarousel_img {
  width: 100%;
  height: 398px;
  object-fit: cover;
}
.classroomCarousel_classroomCarouselInfo {
  position: absolute;
  bottom: 0;
  left: calc(50% - 206px);
  width: 412px;
  background-color: $dtd-text-color;
  opacity: 0.9;
  color: white;
  padding: 16px $dtd-secondary-spacing 0 $dtd-secondary-spacing;
}

.classroomCarouselInfo_classroomCarouselName {
  font-size: $dtd-h2-size;
  text-align: center;
  margin-bottom: 24px;
}
.classroomCarouselInfo_classroomCarouselRow {
  display: flex;
  margin-bottom: 16px;
}

.classroomCarouselRow_title {
  width: 30%;
}
.classroomCarouselRow_content {
  width: 70%;
}

.intro_classroomBlock {
  display: none;
}

@media (max-width: $dtd-media-tablet) {
  .container {
    padding: 0 $dtd-margin-tablet;
  }

  .intro_block__marginTop {
    margin-top: 0;
  }
  .intro_aboutBlock {
    display: block;
    margin-bottom: -$dtd-secondary-spacing;
  }

  .aboutBlock_video {
    width: 79.6%;
    background-color: $dtd-main-color;
    margin: 0 10.2% 24px 10.2%;
  }
  .aboutBlock_content {
    width: 100%;
  }

  .intro_conceptBlock {
    margin-right: -4%;
    margin-bottom: -$dtd-main-spcing;
    flex-wrap: wrap;
  }

  .conceptBlock_conceptBox {
    width: 46%;
    margin-right: 4%;
    margin-bottom: $dtd-secondary-spacing;
  }

  .intro_classroomCarousel {
    height: 310px;
  }

  .classroomCarousel_chevron {
    & a {
      width: 50px;
    }
  }
  .classroomCarousel_img {
    height: 310px;
  }
}

@media (max-width: $dtd-media-phone) {
  .container {
    padding: 0 $dtd-margin-phone;
  }

  .aboutBlock_video {
    width: 100%;
    background-color: $dtd-main-color;
    margin: 0 0 24px 0;
  }

  .intro_conceptBlock {
    margin-right: 0;
    flex-wrap: wrap;
  }

  .conceptBlock_conceptBox {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .intro_classroomCarousel {
    display: none;
  }
  .intro_classroomBlock {
    width: 100%;
    display: block;
    padding-bottom: $dtd-section-spacing;
  }

  .classroomBlock_img {
    width: 100%;
    height: 256px;
    object-fit: cover;
  }
  .classroomBlock_classroomBlockInfo {
    width: 100%;
    background-color: $dtd-text-color;
    opacity: 0.9;
    color: white;
    padding: 16px 24px 4px 24px;
    margin-bottom: $dtd-secondary-spacing;
  }

  .classroomBlockInfo_classroomBlockName {
    font-size: $dtd-h2-size;
    text-align: center;
    margin-bottom: 20px;
  }
  .classroomBlockInfo_classroomBlockRow {
    display: flex;
    margin-bottom: 12px;
  }

  .classroomBlockRow_title {
    width: 86px;
  }
  .classroomBlockRow_content {
    width: calc(100% - 86px);
  }
}

@media (max-width: $dtd-media-phone-small) {
  .container {
    padding: 0 $dtd-margin-phone-small;
  }
}
