// primary, secoondary color
$dtd-main-color: #419bd7;
$dtd-secondary-color: #a6e2df;

// text color
$dtd-text-color: #444;
$dtd-hint-text-color: #ddd;
$dtd-submenu-text-color: #626262;

// background color
$dtd-main-bg-color: #fcfcfc;
$dtd-submenu-bg-color: #f2f2f2;
$dtd-footer-bg-color: #626262;
