.title {
    width: 100%;
    height: 54px;
    border-radius: 5px;
    background-color: $dtd-secondary-color;
    display: flex;
    align-items: center;
    padding-left: $dtd-secondary-spacing;
    font-size: $dtd-h2-size;
    max-width: 1152px;
    margin-top: 48px;
  }