@import '../../styles/color.scss';
@import '../../styles/font.scss';
@import '../../styles/spacing.scss';
@import '../../styles/media.scss';
@import '../../styles/pageMargin.scss';

.carousel_img__rwdHeight {
  height: 400px;
  object-fit: cover;
}

.container {
  padding: 0 $dtd-margin-desktop;
}

.section {
  width: 100%;
  margin-top: $dtd-index-main-spacing;
  &.section_news {
    display: flex;
    justify-content: space-between;
    margin-top: $dtd-main-spcing;
  }
  &.section_link {
    margin-bottom: $dtd-index-main-spacing;
  }
}
h1 {
  font-size: $dtd-h1-size;
  color: $dtd-text-color;
}
p {
  font-size: $dtd-p-size;
  color: $dtd-text-color;
}
hr {
  border-top: 1px solid #e8e8e8;
  margin-bottom: 30px;
}
span {
  font-size: $dtd-hint-size;
  color: $dtd-submenu-text-color;
}
.newsContent {
  width: 45%;
}
.news {
  margin-bottom: $dtd-secondary-spacing;
}
.news_top {
  margin-top: 15px;
}
.news_p {
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  &:hover {
    color: $dtd-main-color;
  }
}
.news_span {
  margin-top: 20px;
}
.news_button {
  border: none;
  color: #fff;
  background-color: #85b6dd;
  border-radius: 5px;
  padding: 8px 25px;
  &:hover {
    background-color: $dtd-main-color;
  }
}

@media (max-width: $dtd-media-tablet) {
  .container {
    padding: 0 $dtd-margin-tablet;
  }
  .carousel_img__rwdHeight {
    height: 276px;
    object-fit: cover;
  }
}

@media (max-width: $dtd-media-phone) {
  .container {
    padding: 0 $dtd-margin-phone;
  }
  .carousel_img__rwdHeight {
    height: 160px;
    object-fit: cover;
  }
  .section_news {
    display: flex;
    flex-direction: column;
  }
  .newsContent {
    width: 100%;
  }
  .news_button_mb {
    margin-bottom: 40px;
  }
}

@media (max-width: $dtd-media-phone-small) {
  .homeContainer {
    padding: 0 $dtd-margin-phone-small;
  }
}
