@import '../../styles/media.scss';
@import '../../styles/spacing.scss';
@import '../../styles/color.scss';
@import '../../styles/font.scss';
@import '../../styles/pageMargin.scss';

a {
  &:hover {
    text-decoration: none;
  }
}

.worksContainer {
  margin: 0 $dtd-margin-desktop;
  padding-top: 27px;
  padding-bottom: $dtd-index-main-spacing;
}
@media (max-width: $dtd-media-tablet) {
  .worksContainer {
    margin: 0 $dtd-margin-tablet;
  }
}
@media (max-width: $dtd-media-phone) {
  .worksContainer {
    margin: 0 $dtd-margin-phone;
  }
}
@media (max-width: $dtd-media-phone-small) {
  .worksContainer {
    margin: 0 $dtd-margin-phone-small;
  }
}

//名稱與返回鍵
.worksContainer_titleBar {
  display: flex;
  align-items: center;
  height: 65px;
}
.worksContainer_titleBar__backBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: 0 $dtd-secondary-spacing;
  & img {
    width: 30px;
    height: 30px;
  }
}
.worksContainer_titleBar__name {
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 36px;
  font-size: $dtd-h1-size;
}

//作品資訊
.worksContainer_contentBar {
  margin-top: 40px;
  margin-left: 3vw;
  margin-right: 0;
}
//作品圖片
.worksContainer_contentBar__img {
  display: flex;
  height: auto;
  width: 100%;
  align-items: flex-start;
  & img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
}
//作品資料內容
.worksContainer_contentBar__content {
  height: 100%;
  padding-left: 39px;
}
@media (max-width: $dtd-media-tablet) {
  .worksContainer_contentBar {
    margin-left: 15px;
    margin-right: 15px;
  }
  .worksContainer_contentBar__content {
    padding: 24px 15.2% 0 15.2%;
  }
  .worksContainer_contentBar__img {
    padding: 0 15.2%;
    height: auto;
    justify-content: center;
    & img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }
  }
}
@media (max-width: $dtd-media-phone) {
  .worksContainer_contentBar {
    margin-left: 0;
    margin-right: 0;
  }
  .worksContainer_contentBar__content {
    padding: 24px 15px 0 15px;
  }
  .worksContainer_contentBar__img {
    padding-left: 15px;
    padding-right: 15px;
  }
}

//詳細資訊
.content_detail {
  margin-top: 14px;
  font-size: $dtd-p-size;
  & div {
    color: $dtd-submenu-text-color;
  }
  & div:last-child {
    margin-top: 16px;
  }
}
.content_detail__introContent {
  white-space: pre-wrap;
  margin-bottom: $dtd-section-spacing;
  line-height: 30px;
  text-align: justify;
}

//相關連結
.content_line {
  height: 1px;
  background-color: $dtd-main-color;
  margin-top: $dtd-section-spacing;
}
.content_relatedBar {
  margin-top: 42px;
  color: $dtd-submenu-text-color;
  & a {
    margin-left: 16px;
    color: $dtd-main-color;
    &:hover {
      color: $dtd-main-color;
      box-shadow: 0 1px $dtd-main-color;
    }
  }
}
