@import '../../styles/color.scss';
@import '../../styles/font.scss';
@import '../../styles/media.scss';
@import 'bootstrap/dist/css/bootstrap.min.css';

@media (max-width: $dtd-media-tablet) {
  .carousel_img__rwdHeight {
    height: 30vh;
    object-fit: cover;
  }
}
@media (max-width: $dtd-media-phone) {
  .carousel_img__rwdHeight {
    height: 25vh;
    object-fit: cover;
  }
}
