@import '../../styles/media.scss';
@import '../../styles/pageMargin.scss';
@import '../../styles/spacing.scss';
@import '../../styles/font.scss';
@import '../../styles/color.scss';

.header {
  background-color: #fff;
  width: 100vw;
  height: 90px;
  padding: 0 $dtd-margin-desktop;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_logo__width {
  width: 243px;
}
.header_nav {
  display: flex;
  font-size: $dtd-p-size;
}

.nav_dropdownMenu {
  position: relative;
  text-align: center;
  height: 90px;
  padding: 0;
  border: none;
  background-color: #fff;
  color: $dtd-text-color;

  & .dropdownMenu_pageList {
    display: none;
  }
  &:hover {
    color: $dtd-main-color;

    & .dropdownMenu_pageList {
      display: block;
      position: absolute;
      width: 192px;
      left: 0;
      top: 90px;
      padding: 0;
      margin: 0;
      list-style: none;
      background-color: $dtd-submenu-bg-color;
      border-radius: 6px;
      z-index: 1;
    }
  }
}

.dropdownMenu_title {
  width: 100%;
  padding: 0 $dtd-secondary-spacing;
}
.dropdownMenu_title__borderRight {
  border-right: 1px $dtd-hint-text-color solid;
}

.pageList_pageBox {
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;

  & .pageBox_page {
    color: $dtd-text-color;
    padding: 16px $dtd-secondary-spacing;
    display: inline-block;
    width: 100%;
  }
  &:hover .pageBox_page {
    background-color: $dtd-hint-text-color;
    border-radius: 6px;
    text-decoration: none;
  }
}

.nav_hamMenu {
  display: none;
}
.hamMenu_hamDropdownMenu {
  display: none;
}
.hamMenu_hamDropdownMenu__close {
  display: none;
}

@media (max-width: $dtd-media-desktop) {
  .header {
    padding: 0 $dtd-margin-tablet;
  }
}

@media (max-width: $dtd-media-tablet) {
  .header {
    padding: 0 $dtd-margin-phone;
  }

  .nav_dropdownMenu {
    display: none;
  }
  .nav_hamMenu {
    display: flex;
    padding: 0 4vw;
    border: none;
    background-color: #fff;
    color: $dtd-text-color;
  }

  .hamMenu_icon__selectedColor {
    color: $dtd-main-color;
  }
  .hamMenu_icon__size {
    font-size: $dtd-h1-size;
  }
  .hamMenu_hamDropdownMenu {
    display: block;
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 2;
    width: 100vw;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: $dtd-submenu-bg-color;
  }

  .hamDropdownMenu_hamTitleDropdownMenu {
    width: 100%;
    padding: 0;
    border: none;
    color: $dtd-text-color;

    & p {
      padding: 16px;
      margin: 0;
    }
  }

  .hamTitleDropdownMenu_hamPageList {
    z-index: 2;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .hamTitleDropdownMenu_hamPageList__close {
    display: none;
  }

  .hamPageList_hamPageBox {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .hamPageBox_hamPage {
    display: inline-block;
    padding: 16px;
    text-decoration: none;
    color: $dtd-text-color;
    background-color: $dtd-hint-text-color;
    width: 100%;
    &:hover {
      color: $dtd-text-color;
    }
  }
}

@media (max-width: $dtd-media-phone) {
  .header_logo__width {
    width: 220px;
  }
}

@media (max-width: $dtd-media-phone-small) {
  .header {
    padding: 0 $dtd-margin-phone-small;
  }
}
