@import '../../styles/media.scss';
@import '../../styles/spacing.scss';
@import '../../styles/color.scss';
@import '../../styles/font.scss';
@import '../../styles/pageMargin.scss';

a {
  &:hover {
    text-decoration: none;
  }
}
.container {
  min-height: 100vh;
  width: 100vw;
  background-color: $dtd-main-bg-color;
  color: $dtd-text-color;
}

//graduationWorksContainer
.graduationWorksContainer {
  min-height: 100vh;
  margin: 0 $dtd-margin-desktop;
  padding-bottom: $dtd-section-spacing;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: $dtd-media-tablet) {
  .graduationWorksContainer {
    margin: 0 $dtd-margin-tablet;
  }
}
@media (max-width: $dtd-media-phone) {
  .graduationWorksContainer {
    margin: 0 $dtd-margin-phone;
  }
}
@media (max-width: $dtd-media-phone-small) {
  .graduationWorksContainer {
    margin: 0 $dtd-margin-phone-small;
  }
}

//Masonry css
.worksArea {
  display: flex;
  width: 102.5%;
}
.worksArea_column {
  padding-right: 1.25%;
  padding-left: 1.25%;
}
@media (max-width: $dtd-media-tablet) {
  .worksArea {
    width: 100%;
  }
  .worksArea_column {
    padding-left: 0%;
    padding-right: 5%;
    &:last-child {
      padding-right: 0;
      padding-left: 5%;
    }
  }
}
@media (max-width: $dtd-media-phone) {
  .worksArea_column {
    padding-right: 3%;
    padding-left: 3%;
    &:last-child {
      padding-right: 3%;
      padding-left: 3%;
    }
  }
}

//worksItem
.worksBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $dtd-secondary-spacing;
  & img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    transition: ease-in-out 0.3s;
  }
  &:hover img {
    opacity: 0.6;
    transition: ease-in-out 0.3s;
  }
  &:hover a {
    color: $dtd-main-color;
  }
}
.worksBox_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $dtd-section-spacing;
  padding: 0 12px;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  width: 100%;
}
.worksBox_content__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.worksBox_content__link {
  display: flex;
  align-items: center;
  color: #85b6dd;
  margin-left: 12px;
}
.worksBox_content__linktext {
  margin-left: 12px;
}
