@import '../../styles/media.scss';
@import '../../styles/spacing.scss';
@import '../../styles/color.scss';
@import '../../styles/font.scss';

.container {
  // min-height: 100vh;
  width: 100vw;
  background-color: $dtd-main-bg-color;
}
//rulesContainer
.rulesContainer {
  margin: 0 10vw $dtd-secondary-spacing;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: $dtd-media-desktop) {
  .rulesContainer {
    margin: 0 4.8vw $dtd-secondary-spacing;
  }
}
@media (max-width: $dtd-media-phone) {
  .rulesContainer {
    margin: 0 6.9vw $dtd-secondary-spacing;
  }
}
@media (max-width: $dtd-media-phone-small) {
  .rulesContainer {
    margin: 0 6.25vw $dtd-secondary-spacing;
  }
}
