@import '../../styles/color.scss';
@import '../../styles/font.scss';
@import '../../styles/spacing.scss';
@import '../../styles/media.scss';

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $dtd-main-bg-color;
  z-index: 1;
}

.loading_loadingBlock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loadingBlock_icon {
  font-size: 64px;
  color: $dtd-main-color;
}

.loadingBlock_text {
  margin-top: $dtd-secondary-spacing;
  font-size: $dtd-h1-size;
}
