@import '../../styles/color.scss';
@import '../../styles/font.scss';
@import '../../styles/spacing.scss';
@import '../../styles/media.scss';
@import '../../styles/pageMargin.scss';

.homePage_bgc {
  background-color: $dtd-main-bg-color;
}
.homeContainer {
  width: 100vw;
  padding: 0 $dtd-margin-desktop;
}

@media (max-width: $dtd-media-tablet) {
  .homeContainer {
    padding: 0 $dtd-margin-tablet;
  }
}

@media (max-width: $dtd-media-phone) {
  .homeContainer {
    padding: 0 $dtd-margin-phone;
  }
}

@media (max-width: $dtd-media-phone-small) {
  .homeContainer {
    padding: 0 $dtd-margin-phone-small;
  }
}
