@import '../../styles/color.scss';
@import '../../styles/font.scss';
@import '../../styles/spacing.scss';
@import '../../styles/media.scss';

.section {
  width: 100%;
  margin-top: $dtd-index-main-spacing;
  &.section_news {
    display: flex;
    justify-content: space-between;
    margin-top: $dtd-main-spcing;
  }
  &.section_link {
    margin-bottom: $dtd-index-main-spacing;
  }
}
h1 {
  font-size: $dtd-h1-size;
  color: $dtd-text-color;
}
p {
  font-size: $dtd-p-size;
  color: $dtd-text-color;
}
hr {
  border-top: 1px solid #e8e8e8;
  margin-bottom: 30px;
}
span {
  font-size: $dtd-hint-size;
  color: $dtd-submenu-text-color;
}
.newsContent {
  width: 45%;
}
.news {
  margin-bottom: $dtd-secondary-spacing;
}
.news_top {
  margin-top: 15px;
}
.news_p {
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}
.news_span {
  margin-top: 20px;
}
.news_button {
  border: none;
  color: #fff;
  background-color: #85b6dd;
  border-radius: 5px;
  padding: 8px 25px;
}
.news_button:hover {
  background-color: $dtd-main-color;
}

@media (max-width: $dtd-media-phone) {
  .section_news {
    display: flex;
    flex-direction: column;
  }
  .newsContent {
    width: 100%;
  }
  .news_button_mb {
    margin-bottom: 40px;
  }
}
