@import '../../styles/color.scss';
@import '../../styles/font.scss';

.container {
  position: relative;
  width: 100vw;
  height: 162px;
  background-color: $dtd-main-bg-color;
}

.pageNumber_box {
  position: absolute;
  left: 50%;
  top: 64px;
  transform: translateX(-50%);
  display: flex;
}

.pageNumber_number {
  font-size: $dtd-hint-size;
  font-weight: bold;
  margin: 0 6px;
  padding: 0 6px;
  border: none;
  background-color: $dtd-main-bg-color;
  color: $dtd-submenu-text-color;
}

.pageNumber_chevron {
  margin: 1px 6px 0 6px;
  padding: 0 6px;
  border: none;
  background-color: $dtd-main-bg-color;
  color: $dtd-submenu-text-color;
}

.pageNumber_hover:hover {
  color: $dtd-main-color;
}

.pageNumber_number_selected {
  color: $dtd-main-color;
}

.pageNumber_chevron_unclicked {
  color: $dtd-hint-text-color;
}
