@import '../../styles/color.scss';
@import '../../styles/font.scss';
@import '../../styles/media.scss';
@import '../../styles/spacing.scss';

.footer {
  position: relative;
  z-index: 10;
  // height: 160px;
  display: flex;
  justify-content: center;
  background-color: $dtd-footer-bg-color;
  .footer_content {
    width: 45%;
    margin: 50px 4% 30px 4%;
    .footer_p__font {
      font-size: $dtd-hint-size;
      color: $dtd-hint-text-color;
    }
    .footer_p__lineheight {
      line-height: 22px;
    }
  }
}
@media (max-width: $dtd-media-tablet) {
  .footer_content {
    width: 40%;
  }
}
@media (max-width: $dtd-media-phone) {
  .footer {
    flex-wrap: wrap;
    .footer_content {
      width: 85%;
      &.footer_leftContent {
        margin: 25px 4% 10px 4%;
      }
      &.footer_rightContent {
        margin: 10px 4% 25px 4%;
      }
    }
  }
}
