@import '../../styles/color.scss';
@import '../../styles/font.scss';
@import '../../styles/media.scss';

.footer {
  // height: 160px;
  display: flex;
  justify-content: center;
  font-size: $dtd-hint-size;
  background-color: $dtd-footer-bg-color;
  color: $dtd-hint-text-color;
  .footer_content {
    width: 45%;
    margin: 40px 4%;
    .footer_p__font {
      line-height: 22px;
    }
  }
}
@media (max-width: $dtd-media-tablet) {
  .footer_content {
    width: 40%;
  }
}
@media (max-width: $dtd-media-phone) {
  .footer {
    flex-wrap: wrap;
    .footer_content {
      width: 85%;
      &.footer_leftContent {
        margin: 25px 4% 10px 4%;
      }
      &.footer_rightContent {
        margin: 10px 4% 25px 4%;
      }
    }
  }
}
