@import '../../styles/media.scss';
@import '../../styles/spacing.scss';
@import '../../styles/color.scss';
@import '../../styles/font.scss';

.container {
  width: 100%;
  background-color: $dtd-main-bg-color;
}
.staffContainer {
  width: 100%;
}
.staffContainer_staffGroupName {
  width: 100%;
  height: 54px;
  border-radius: 5px;
  background-color: $dtd-secondary-color;
  display: flex;
  align-items: center;
  padding-left: $dtd-secondary-spacing;
  font-size: $dtd-h2-size;
}
.staffContainer_staffBar {
  font-size: $dtd-p-size;
  margin-top: $dtd-section-spacing;
  margin-bottom: $dtd-section-spacing;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
@media (max-width: $dtd-media-desktop) {
  .staffContainer_staffBar {
    margin-right: $dtd-staff-rwd-spacing;
    margin-left: $dtd-staff-rwd-spacing;
  }
}
@media (max-width: $dtd-media-phone) {
  .staffContainer_staffBar {
    margin-right: 0;
    margin-left: 0;
  }
}
.staffContainer_staffBar__staffBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  & a {
    border: 8px solid #f8f8f8;
    margin-bottom: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    // align-items: center;
    width: 220px;
    height: 220px;
    // cursor: default;
    & img {
      transform: translateY(3%);
      transition: ease-in-out 0.3s;
      width: 220px;
      height: auto;
    }
    &:hover img {
      transition: ease-in-out 0.3s;
      transform: translateY(-2%);
      opacity: 0.6;
    }
  }

  & div {
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
  }
}
