@import '../../styles/media.scss';
@import '../../styles/color.scss';
@import '../../styles/font.scss';
@import '../../styles/spacing.scss';

.container {
  width: 100%;
}

.announcement {
  // position: relative;
  padding: 0 $dtd-secondary-spacing;
  // width: 80vw;
  // left: 50%;
  // transform: translateX(-50%);
}

.announcement_box {
  padding: 10px 0;
}

.announcement_title {
  padding: 6px 0;
  font-size: 20px;
  color: $dtd-text-color;
}

.announcement_content {
  padding: 6px 0;
  font-size: $dtd-hint-size;
  color: $dtd-submenu-text-color;
}

@media (max-width: $dtd-media-phone) {
  .announcement {
    padding: 0;
  }
}
