@import '../../styles/color.scss';
@import '../../styles/font.scss';
@import '../../styles/spacing.scss';
@import '../../styles/media.scss';

.container {
  width: 100vw;
}
.banner {
  width: 100vw;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
@media (max-width: $dtd-media-desktop) {
  .banner_img {
    height: 400px;
  }
}
@media (max-width: $dtd-media-tablet) {
  .banner_img {
    height: 276px;
  }
}
@media (max-width: $dtd-media-phone) {
  .banner_img {
    height: 160px;
  }
}
