@import '../../styles/media.scss';
@import '../../styles/spacing.scss';
@import '../../styles/color.scss';
@import '../../styles/font.scss';

.container {
  width: 100%;
  background-color: $dtd-main-bg-color;
}
.teamsGContainer {
  width: 100%;
}
.teamsGContainer_teamsGroupName {
  width: 100%;
  height: 54px;
  border-radius: 5px;
  background-color: $dtd-secondary-color;
  display: flex;
  align-items: center;
  padding-left: $dtd-secondary-spacing;
  font-size: $dtd-h2-size;
}
.teamsGContainer_teamsBar {
  font-size: $dtd-p-size;
  margin-top: $dtd-section-spacing;
  margin-bottom: $dtd-section-spacing;
  // flex-direction: row-reverse;
  // justify-content: flex-end;
  &:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: $dtd-media-desktop) {
  .teamsGContainer_teamsBar {
    margin-right: $dtd-staff-rwd-spacing;
    margin-left: $dtd-staff-rwd-spacing;
  }
}
@media (max-width: $dtd-media-phone) {
  .teamsGContainer_teamsBar {
    margin-right: 0;
    margin-left: 0;
  }
}
.teamsGContainer_teamsBar__teamsBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  & div {
    border: 8px solid #f8f8f8;
    margin-bottom: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    // align-items: center;
    width: 220px;
    height: 220px;
    // cursor: default;
    & img {
      width: 220px;
      height: 220px;
    }
  }

  & p {
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
  }
}
